html{
    box-sizing: border-box;
}
body{
    font-family: 'Karla', sans-serif;
    padding: 0;
    margin: 0;
}
*,*:before,
*,*:after{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'befolk';
    src: url(../font/befolk.otf);
}
.header{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url(../img/bg-home-dark-clean.jpg);
}
header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'befolk';
    font-size: 32em;
    color: #fff;
}
.dotgreen{
    color: #00cc6a;
}
@media (max-width: 575.98px) { 
    header h1 {
    font-size: 15em;
    }
    .navigation-open{
        width: 230px !important;
        height: 100%;
        display: block;
        background:#fff;
        position: fixed;
        left: 0;
        border-radius: 0% 2% 2% 0% !important;
    }
    .navigation .navigation_ul {
        float: right;
        margin: 200px -5px 0 0 !important;
        opacity: 0;
        visibility: hidden;
        transform: rotateY(-90deg) translateX(-300px);
        transition: all 800ms cubic-bezier(.9,0,.33,1); 
    }
}
@media (min-width: 576px) and (max-width: 767.98px) { 
    
}
@media (min-width: 768px) and (max-width: 991.98px) {
    
}
@media (min-width: 992px) and (max-width: 1199.98px) {

}
@media (min-width: 1200px) {

}